html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* #gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #2A1ec7; 
    --gradient-color-2: #07061b; 
    --gradient-color-3: #2114A3;  
    --gradient-color-4: #1b145e;
} */